 body {
     background-color: rgb(187, 197, 197);
 }

 table {
     width: 100%;
 }

 header h1 {
     font-family: monospace;
     font-size: 60px;
     text-align: center;
 }

 main img {
     width: 100%;

 }

 main .sizeImg {
     width: 40%;
 }

 main .extremitiesSpace {
     width: 5%;
 }

 main .description {
     width: 40%;
 }

 main .centerSpace10 {
     width: 10%;
 }

 main .description h2 {
     font-family: monospace;
     font-size: 22px;
 }

 main .description p {
     font-family: monospace;
     font-size: 22px;
 }

 main .tableSpace {
     width: 25%;
     vertical-align: top;
 }

 main .centerSpace {
     width: 7.5%;
 }

 footer td {
     width: 33.3%;
 }

 footer h3 {
     font-size: 30px;
     text-align: center;
 }

 footer p {
     text-align: center;
 }