 body {
    background-color: rgb(187, 197, 197);
 }

 header {
    display: flex;
    justify-content: center;
    font-family: monospace;
    font-size: 30px;

 }

 main .conteiner-pai .principal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 2%;
 }

 main .conteudo {
    flex: 1;
    font-size: 30px;

 }

 .imagem{
   width: 60%;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 img {
    width: 75%;
 }

 main .secundario {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 70px;

 }

 footer h3 {
    font-size: 30px;
    text-align: center;
    margin: 0;
 }

 footer p {
    text-align: center;
 }

 footer {
   display: flex;
   justify-content: center;
   flex-direction: column;

 }