 body {
    background-color: rgb(187, 197, 197);
 }

 header {
    display: flex;
    justify-content: center;
    font-family: monospace;
    font-size: 30px;

 }

 main .conteiner-pai .principal {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    gap: 150px;
 }

 main .conteudo {
    flex: 1;
    font-size: 35px;

 }

 img {
    width: 100%;
 }

 main .secundario {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 70px;

 }

 footer h3 {
    font-size: 30px;
    text-align: center;
 }

 footer p {
    text-align: center;
 }